<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script src="/socket.io/socket.io.js" defer></script>
    <script type="text/javascript" src="script.js" defer></script>
    
    <title>Chat Room</title>
    <style>
        #video-streaming {
            display: grid;
            grid-template-columns: repeat(auto-fill, 45vw);
            grid-template-rows: 90vh;
            box-shadow: 5px 5px 5px rgba(61, 61, 61, 0.877);
        }
        video .myvideo {
           width: 100%;
           height: 100%;
           object-fit: cover;
           border: 1px solid green;     
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div id="video-streaming"></div>
</body>
</html>